.DS_Store
*/.DS_Store
.idea
src/results/*
src/data/*
*.pyc
src/test/*
src/utils/Plot.py
src/fl/wandb/*
config_test.json
config_sync_test.json
config_semi_test.json
!src/results/.gitkeep
!src/data/.gitkeep
wandb/*